[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scipy = "*"
streamlit = "*"
openai = "*"
gtts = "*"
sounddevice = "*"
audiofile = "*"
pyttsx3 = "*"
keyboard = "*"
playsound = "==1.2.2"

[dev-packages]

[requires]
python_version = "3.11"
